/*页面前进动画*/

.pagepush-enter {
  -webkit-transform: translate3d(100vw, 0, 0);
}

.pagepush-enter.pagepush-enter-active {
  transition: -webkit-transform  350ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepush-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepush-leave.pagepush-leave-active {
   transition: -webkit-transform  350ms ease-in-out;
  -webkit-transform: translate3d(-100vw, 0, 0);
}

/*页面后退动画*/

.pagepop-enter {
  -webkit-transform: translate3d(-100vw, 0, 0);
}

.pagepop-enter.pagepop-enter-active {
  transition: -webkit-transform  350ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepop-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

.pagepop-leave.pagepop-leave-active {
  transition: -webkit-transform  350ms ease-in-out;
  -webkit-transform: translate3d(100vw, 0, 0);
}

.imnumber {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/*淡入淡出动画*/

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}

@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}/*初始状态 透明度为0*/
    100% {opacity: 0;}/*结束状态 透明度为1*/
}

@-webkit-keyframes fade-out {/*针对webkit内核*/
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.page-fadein{
    animation: fade-in;/*动画名称*/
    animation-duration: 0.3s;/*动画持续时间*/
    -webkit-animation:fade-in 0.3s;/*针对webkit内核*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}

.page-fadeout{
  	animation: fade-out;/*动画名称*/
    animation-duration: 0.3s;/*动画持续时间*/
    -webkit-animation:fade-out 0.3s;/*针对webkit内核*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}
